.Bd\(n\) {
  border: none;
}
.Bdc\(\#bdbdbd\) {
  border-color: #bdbdbd;
}
.Bdc\(\#eb5757\) {
  border-color: #eb5757;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(2px\) {
  border-width: 2px;
}
.Bdrs\(5px\) {
  border-radius: 5px;
}
.Bdrs\(4px\) {
  border-radius: 4px;
}
.Bdrs\(3px\) {
  border-radius: 3px;
}
.Bg\(\#c7acda\) {
  background: #c7acda;
}
.Bg\(\#2d9cdb\) {
  background: #2d9cdb;
}
.Bg\(\#fff\) {
  background: #fff;
}
.Bg\(\#eb5757\) {
  background: #eb5757;
}
.Bxz\(bb\) {
  box-sizing: border-box;
}
.Bxsh\(myshadow\) {
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.19);
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#000\) {
  color: #000;
}
.C\(\#666\) {
  color: #666;
}
.D\(f\) {
  display: flex;
}
.D\(b\) {
  display: block;
}
.D\(ib\) {
  display: inline-block;
}
.Fxd\(c\) {
  flex-direction: column;
}
.Ai\(c\) {
  align-items: center;
}
.Jc\(c\) {
  justify-content: center;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(b\) {
  font-weight: bold;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(13px\) {
  font-size: 13px;
}
.Fz\(14px\) {
  font-size: 14px;
}
.H\(100\%\) {
  height: 100%;
}
.H\(100vh\) {
  height: 100vh;
}
.H\(270px\) {
  height: 270px;
}
.H\(44px\) {
  height: 44px;
}
.H\(37px\) {
  height: 37px;
}
.Lh\(19px\) {
  line-height: 19px;
}
.M\(0\) {
  margin: 0;
}
.Mx\(0\) {
  margin-left: 0;
  margin-right: 0;
}
.My\(25px\) {
  margin-top: 25px;
  margin-bottom: 25px;
}
.Mt\(5px\) {
  margin-top: 5px;
}
.Mt\(6px\) {
  margin-top: 6px;
}
.Mb\(5px\) {
  margin-bottom: 5px;
}
.Mstart\(3\%\) {
  margin-left: 3%;
}
.Maw\(760px\) {
  max-width: 760px;
}
.T\(0\) {
  top: 0;
}
.T\(50\%\) {
  top: 50%;
}
.B\(0\) {
  bottom: 0;
}
.Start\(50\%\) {
  left: 50%;
}
.Ov\(initial\) {
  overflow: initial;
}
.P\(4px\) {
  padding: 4px;
}
.Px\(44px\) {
  padding-left: 44px;
  padding-right: 44px;
}
.Px\(50px\) {
  padding-left: 50px;
  padding-right: 50px;
}
.Px\(9px\), .Pstart\(9px\) {
  padding-left: 9px;
}
.Px\(9px\) {
  padding-right: 9px;
}
.Py\(0\) {
  padding-top: 0;
  padding-bottom: 0;
}
.Py\(32px\) {
  padding-top: 32px;
  padding-bottom: 32px;
}
.Pos\(a\) {
  position: absolute;
}
.Pos\(r\) {
  position: relative;
}
.Translate\(-50\%\,-50\%\) {
  transform: translate(-50%,-50%);
}
.W\(100\%\) {
  width: 100%;
}
.W\(188px\) {
  width: 188px;
}
.W\(24\%\) {
  width: 24%;
}
.W\(35\%\) {
  width: 35%;
}
.Z\(0\) {
  z-index: 0;
}
.Z\(1\) {
  z-index: 1;
}
@media(max-width:767px) {
  .D\(n\)--sm {
    display: none;
  }
  .Fxd\(c\)--sm {
    flex-direction: column;
  }
  .H\(100\%\)--sm {
    height: 100%;
  }
  .W\(100\%\)--sm {
    width: 100%;
  }
}
@media(min-width:1000px) {
  .Mstart\(5px\)--md {
    margin-left: 5px;
  }
  .Start\(100\%\)--md {
    left: 100%;
  }
  .Pos\(a\)--md {
    position: absolute;
  }
  .W\(132px\)--md {
    width: 132px;
  }
}
@media(min-width:767px) {
  .D\(n\)--lg {
    display: none;
  }
  .W\(290px\)--lg {
    width: 290px;
  }
}
